/*================= Navbar ================ */
.navbar {
  background-color: rgb(65, 173, 132) !important;
}

/*================= Main Components ================ */
.main {
  margin-top: 7rem;
}

/*================= Form ================ */
.form-wrapper {
  background-color: rgb(41, 136, 143);
  padding: 1rem;
  border-radius: 10%;
  color: white;
}

/*================= PayeeDisplay ================ */
.payee-display {
  margin-top: 2rem;
}
.card-display {
  background-color:  rgb(23, 113, 119);
  color: white;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 10%;
}